@model MeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Delete";
}

<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">Delete Meeting</h4>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Presiding)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Presiding)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Conducting)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Conducting)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OpenHymnTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OpenHymnTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OpenHymnNum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OpenHymnNum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SacramentHymnTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SacramentHymnTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SacramentHymnNum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SacramentHymnNum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClosingHymnTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClosingHymnTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClosingHymnNum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClosingHymnNum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OpeningPrayer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClosingPrayer)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
