@model MeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Presiding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Presiding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conducting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conducting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenHymnTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenHymnTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenHymnNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymnTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymnTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymnNum)
        </dd>
        @foreach (var item in Model.Assignments)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymnTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymnTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymnNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymnNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
