@page
@model MegaDesk.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Quote List";
}

<h1>Quote List</h1>

<p>
    <a asp-page="Create">New Order</a>
</p>

<form>
    <p>
        <input id="searchString" type="text" asp-for="SearchString" />
        <input class="material-icons" id="filterBtn" type="submit" value="Search">
        <select asp-for="sortOrder" asp-items="Model.SortOrderList" onchange="this.form.submit();">
            <option value="1">Name A-Z</option>
            <option value="2">Name Z-A</option>
            <option value="3">Newest</option>
            <option value="4">Oldest</option>
        </select>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].SurfaceMaterial)
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
            </td>
            <td>
                $@item.CalculateQuote()
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
