@page
@model MegaDesk.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Quote List";
}

<h1 class="text-white">All Desk Quotes</h1>

<form>
    <button class="btn btn-success"><a class="text-white" asp-page="Create">New Desk Quote</a></button>
    <div class="search-bar d-flex justify-content-between">
        <div>
            <input id="searchString" placeholder="Search Quotes Here" type="text" asp-for="SearchString" />
            <input class="btn btn-outline-light" id="filterBtn" type="submit" value="Search">
         </div>
        <select class=" justify-self-end" asp-for="sortOrder" asp-items="Model.SortOrderList" onchange="this.form.submit();">
            <option value="1">Name A-Z</option>
            <option value="2">Name Z-A</option>
            <option value="3">Newest</option>
            <option value="4">Oldest</option>
        </select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Price)
            </th>
            <th id="change-col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="d-flex">
               <a class="table-link btn btn-outline-success d-flex justify-content-center align-content-between text-success" asp-page="./Edit" asp-route-id="@item.ID"><span class="material-icons">edit</span>Edit</a>
               <a class="table-link btn btn-outline-warning d-flex justify-content-center align-content-between text-warning" asp-page="./Details" asp-route-id="@item.ID"><span class="material-icons">info</span>Details</a>
               <a class="table-link btn btn-outline-danger d-flex justify-content-center align-content-between text-danger" asp-page="./Delete" asp-route-id="@item.ID"><span class="material-icons">delete</span>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
